@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/tundra/tundra.css';

html,body {
    height:100%;
    margin:0;
    overflow:hidden;
    width:100%
}
body {
    font:14px 'Ubuntu Mono',clean,sans-serif
}
h2 {
    font-family:'Lobster',cursive;
    margin-top:0
}
#borderContainer {
    height:600px;
	margin-left:auto;
    margin-right:auto;
    width:600px
}
span#plus {
	margin-left:6px
}
#history p {
	margin:2px 0
}
.dijitBorderContainerPane {
	padding:6px
}
.dijitTextBox {
    width:8em
}